

.card-links{
    display: flex;
    justify-content: space-around;
}

.home-buttons{
    display: flex !important;
    justify-content: space-between !important;
}

.light-theme {
    background-color: #DFE0DF;
    color: black;
  }
  
  .dark-theme {
    background-color: #212529;
    color: white;
  }

  body.dark-theme{
    background-color: #212529;
  }